<% content_for(:title) { "Log in" } %>

<div class="container">
  <div class="registration">
    <h2>Log in</h2>

    <%= render "devise/shared/links" %>

    <%= form_for(resource, as: resource_name, url: https_login_url) do |f| %>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.hidden_field :remember_me, value: "1" %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in", class: "blue-button" %>
      </div>

    <% end %>

    <% flash.each do |key, value| %>
      <% if key == "alert" %>
        <div class="alert alert-<%= key %>">
          <ul>
            <li>
              <%= value %>
            </li>
          </ul>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
